@import './styles/slide/slide';
@import './styles/button/button';
@import './styles/info/info';
@import './styles/rules/rules';
@import './styles/about/about.scss';

body {
  margin: 0;
  scroll-behavior: smooth;
}

.welcome{
  padding-top: 20px;
  text-align: center;
}

.start{
  padding: 20px;
  text-align: center;
}

@media screen and (max-width: 450px){
  .start{
  font-size: 25px;
  }
}
