.rules{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px 200px 50px;
  text-align: center;
}

.rules img{
  display: block;
  width: 250px;
  align-self: center;
}

@media screen and (max-width:  650px){
  .rules{
    padding: 10px 20px;
  }
  .rules img{
    width: 100px;
  }
  .rules__rule{
    width: 100px;
    justify-content: start;
  }
}
