.info
  padding: 50px 200px 50px
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-around
  background-color: #ffe494
  +mobile
    padding: 10px 20px

.info__item1
  +mobile
    width: 100px
    justify-content: start

.info__item2
  +mobile
    width: 100px
    justify-content: start

.info__item3
  +mobile
    width: 100px
    justify-content: start

.info__item4
  +mobile
    width: 100px
    justify-content: start

.info__item5
  +mobile
    width: 100px
    justify-content: start

.info__item6
  +mobile
    width: 100px
    justify-content: start

.info h2
  text-align: center
  +mobile
    font-size: 20px

.info p
  text-align: center
  width: 256px
  +mobile
    width: 100px
    font-size: 15px

.info img
  display: block
  width: 100%
  align-self: center
