.info
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-around
  background-color: #ffe494

.info h2
  text-align: center

.info p
  text-align: center
  width: 256px

.info img
  background-image: url('../assets/images/Star.png')
