.rules
  display: flex
  flex-wrap: wrap
  justify-content: space-around
  padding: 50px 200px 50px
  text-align: center
  background-color: #fff8e3

.rules img
  background-image: url('../assets/images/Rule.png')
