.slider
  overflow: hidden
  box-sizing: border-box
  width: 100%
  height: 650px
  display: flex
  margin: auto
  position: relative
  align-items: center
  flex-direction: row
  justify-content: center
  background-color: #ffcc5e


.slide-container
  overflow: hidden
  position: relative
  border-radius: 10px

.slide-container__slide1
  height: 600px
  width: 900px
  overflow: hidden
  position: relative
  display: none;
  animation: .5s ease-in-out;
  background-image: url('../assets/images/Slide1.png')


.slide-container__slide2
  position: relative
  height: 600px
  width: 900px
  overflow: hidden
  display: none;
  animation: .5s ease-in-out;
  background-image: url('../assets/images/Slide2.png')

.slide-container__slide3
  position: relative
  height: 600px
  width: 900px
  overflow: hidden
  display: none;
  animation: .5s ease-in-out;
  background-image: url('../assets/images/Slide3.png')

slider__move-slide
  position: absolute

.slider_next
  display: block
  position: absolute
  top: 0

.slider_show
  display: block
  top: 0
