.wrap {
    height: 100%;
    width: 100%;
    background-image: url(./404_bg.png);
    background-repeat: no-repeat;
    background-position: bottom;
}

.error-page {
    margin: 10px 10px;
}

.error-page-btn {
    margin-top: 10px;
    margin-left: calc(50% - 23px);
}

@media screen and (max-width: 780px) {
    .wrap {
        background-size: 100%;
    }
}