
.settings-container {
    height: 100%;
    padding: 20px;
    font-size: 1.2rem;

    &__title h1 {
      text-align: center;

      @media (max-width: 767px) { font-size: 2rem; }
    }

    &__form {
      max-width: 850px;

      .settings-group {
        margin: 0;
        padding: 0 10px 20px 10px;
        border: none;

        &__title {
          color: rgb(1, 83, 177);

          @media (max-width: 767px) { font-size: 1.3rem; }
        }

        .settings-item {
          margin-bottom: 3px;

          &__input {
            margin-left: 35px;
            font-size: 1rem;
          }

          @media (max-width: 375px) { margin-bottom: 0; }
        }
      }

      .button-container {
        padding-top: 15px;

        .btn--save {
          display: block;
          width: 200px;
          margin: auto;
          padding: 5px 0;
          font-size: 1.5rem;

          @media (max-width: 575.98px) {
            width: 100%;
            font-size: 1.3rem;
          }
        }
      }
    }

    @media (max-width: 767px) { font-size: 1rem; }
  }
