
.settings-container {
    height: 100%;
    padding: 20px;
    font-size: 1.2rem;

    &__title {
      text-align: center;
    }

    &__form {
      max-width: 850px;

      .settings-group {
        margin: 0;
        padding: 0 10px 20px 10px;
        border: none;

        &__title {
          color: rgb(1, 83, 177);
        }

        .settings-item {
          margin-bottom: 0;

          &__input {
            margin-left: 35px;
          }
        }
      }

      .button-container {
        padding-top: 15px;

        .btn--save {
          display: block;
          width: 200px;
          margin: auto;
          padding: 5px 0;
          font-size: 1.5rem;
          border: 1px solid grey;

          @media (max-width: 575.98px) {
            width: 100%;
            font-size: 1.3rem;
          }
        }
      }
    }

    @media (max-width: 575.98px) { font-size: 1.1rem; }
  }