.slider{
  padding: 50px 0;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #ffcc5e;
}

.slide-container{
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

.slide-container__slide{
  overflow: hidden;
  position: relative;
  display: none;
  animation: .5s ease-in-out;
}

.slide-container__slide img{
  display: block;
  width: 100%;
}

.slider__move-slide{
  position: absolute;
}

.slider_next{
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
}

.slider--show{
  display: block;
}

@media screen and (max-width: 1200px){
  .slider{
    padding: 50px;
  }
}

@media screen and (max-width:  650px){
  .slider{
    padding: 10px;
  }
}
