.slider__prev-button{
  z-index: 10;
  align-self: center;
  padding: 8px;
  margin: 20px;
  height: 20px;
  width: 20px;
  background: transparent;
  cursor: pointer;
  border-top: 5px solid black;
  border-left: 5px solid black;
  border-bottom: 0;
  border-right: 0;
  transform: rotate(315deg);
  &:focus{
    outline: none;
  }
  &:hover{
    border-top: 5px solid grey;
    border-left: 5px solid grey;
  }
}

.slider__next-button{
  z-index: 10;
  padding: 8px;
  margin: 20px;
  align-self: center;
  height: 20px;
  width: 20px;
  background: transparent;
  cursor: pointer;
  border-top: 5px solid black;
  border-left: 0;
  border-bottom: 0;
  border-right: 5px solid black;
  transform: rotate(45deg);
  &:focus{
    outline: none;
  }
  &:hover{
    border-top: 5px solid grey;
    border-right: 5px solid grey;
  }
}

@media screen and (max-width: 600px){
  .slider__prev-button, .slider__next-button{
    margin: 5px;
    width: 10px;
    height: 10px;
  }
}

.to-left{
  animation-name: left;
}

.from-right{
  animation-name: right;
}

.to-right{
  animation-name: right;
  animation-direction: reverse;
}

.from-left{
  animation-name: left;
  animation-direction: reverse;
}

@keyframes left{
  from{
    left: 0;
  }

  to{
    left: -100%;
  }
}

@keyframes right{
  from{
    left: 100%;
  }

  to{
    left: 0;
  }
}
